<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> Highway - Free CSS Template</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/light-box.css">
        <link rel="stylesheet" href="css/templatemo-style.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        
    </head>

<body>

    <nav>
        <div class="logo">
            <a href="/">DRIFT <em>HUNTERSNG</em></a>
        </div>
      <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>About <em>Us</em></h1>
            </div>
        </div>
    </div>




    <div class="more-about-us">
        <div class="container">
            <div class="col-md-5 col-md-offset-7">
                <div class="content">
                    <h2>MEET THE TEAM</h2>
       
                    <p>The Drift Hunters is a formidable drift team in Abuja, the Federal Capital Territory of Nigeria. The team comprises of two Drivers, one Manager and many other supporting crew members. 
                    <br><br>Before the conceptualization of the name Drift Hunters, Awwal and Jay Bash have been friends for years. Awwal met Bash in the year 2015 when he visited Q-Customs the place where Jay Bash was an apprentice. Since then the coalition of this Dynamic Duo has been adamantine and so the team enjoys exponential growth in skills, fame and overall progress. This can be seen in the countless visual contents created by IamGrant Pictures. No other Motor sports team in Nigeria tells compelling stories structured in western cinematic motion pictures like Drift Hunters. Even the photographs taken by Del Photos reaffirms this fact.</p>
                    <div class="simple-btn">
                        <a href="/about">Back up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="pricing-tables">
        <div class="container">
            <div class="col-md-6 col-sm-6">
                <div class="table-item">
                    <h4>JAY BASH</h4>
                    <span>Drifter</span>
                    <a target="_blank" href="img/ju.png">
                        <img src="img/ju.png" >
                      </a>
                    <ul>
                    	<li>Jay Bash is a drifter who has been in the profession since 2016 using his personal car.  His love for drifting started right from 2012. He has always wanted to be a drift driver, build proper drift cars, drift on roads, in the arena and anywhere possible.
                            His career in drifting started in 2015 when he was working with Q-CUSTOMS as an apprentice. There with Real Sam they built the first coupe in West Africa, the Mercedes 190 Coupe. Jay Bash then started practicing with this car, and started mastering the skills. His main dream is to compete and win not just in Nigeria, but also across the world. 
                            </li>

                    </ul>
                <a href="https://www.instagram.com/jaybash__/" class="fa fa-instagram"></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="table-item premium-item">
                    <h4>CAPTAIN AWWAL</h4>
                    <span>Drifter</span>
                    <a target="_blank" href="img/auwal.png">
                        <img src="img/auwal.png" >
                      </a>
               
                    <ul>
                        <li>Captain Awwal Muhammed is a Pilot who also doubles as a drifter. He has been a drifter for about two years, born into a family that love cars, his love for drifting was ignited from his natural love for cars. His vision is for his team to be the best in Nigeria so as to compete in international spaces to represent Nigeria in competitions all over the world. His message to his fans is for them to know that he is a normal person just like any of them, and not some kind of superhero.</li>

                    </ul>
                <a href="https://www.instagram.com/capt_awwal/" class="fa fa-instagram"></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="table-item">
                    <h4>SOLOMON SOJA</h4>
                    <span>Manager,Drift Hunters</span>
                    <a target="_blank" href="img/portfolio_item_4.png">
                        <img src="img/FOX02094.png" >
                      </a>
                    <ul>
                        <li>Soja is the Manager of the Drift Hunters and a filmmaker,engineer,multimedia professional,public speaker,marketing strategist,extreme sport promoter,Automotive Ethusiast,sales expert and philantropist. He has been doing a great job at the entire management of the team including business development, welfare, publicity, media management and overseeing the general wellbeing of the team.</li>
 
                    </ul>
                <a href="https://www.instagram.com/solomoneysoja/" class="fa fa-instagram"></a>

                </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="table-item premium-item">
                  <h4>Grant</h4>
                  <span>Content Creator</span>
                  <a target="_blank" href="img/auwal.png">
                      <img src="img/Grant.png" >
                    </a>
             
                  <ul>
                      <li>Grant is a highly imaginative filmmaker with several years of experience, making a variety of films for diverse industries.
                        Grant has strong passion for creating independent films, but also has a knack for creating commercials, documentaries and films. He's highly knowledgeable, very creative and always equipped with state-of-the-art filmmaking hardwares and softwares. 
                        Grant is an amazing storyteller.</li>

                  </ul>
              <a href="https://www.instagram.com/iamgrant_pictures/" class="fa fa-instagram"></a>
              </div>
          </div>
            
        </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2021 DriftHuntersNG 
    
    | Designed by Pyeramid</p>
            </div>
        </div>
    </footer>


    <script>
      function submitEmailForm(form){
          var obj = new XHLHttpRequest();
          obj.onsteadystatechange = function (){
              if(obj.readyState == 4){
                  if(obj.status == 200){
                      var x = JSON.parse(obj.responseText);
                      alert(x.message);
                  }
                  else {
                      alert("XMLHttp Status: " + obj.status + "; " +obj.statusText);
                  }
              }
          };
          obj.open("post", form.action, true);
          obj.setRequestHeader("Content-Type", "application/json");
          obj.send(JSON.stringify({ name: form.name.value, email: form.email.value, message: form.message.valu}));
          return false;
      }
  </script>


    <!-- Modal button -->
  <div class="popup-icon">
    <button id="modBtn" class="modal-btn"><img src="img/contact-icon.png" alt=""></button>
  </div>  

  <!-- Modal -->
  <div id="modal" class="modal">
    <!-- Modal Content -->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="header-title">Say hello to <em>DriftHuntersNG</em></h3>
        <div class="close-btn"><img src="img/close_contact.png" alt=""></div>    
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <div class="col-md-6 col-md-offset-3">
          <form  action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
              <div class="row">
                  <div class="col-md-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                    </fieldset>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                  <li>
                      <a href="/">Home</a>
                  </li>
                
                  <li>
                      <a href="/about">About Us</a>
                  </li>
            
              </ul>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>
</html>